*{
    margin: 0;
    padding: 0;
    font-family: "Gilroy";
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;

}

#card{
    height: 400px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

#card img{
    height: 50%;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

#card h1{
    font-size: 25px;
    font-weight: 800;
    margin: 20px 0;
}

#card h5{
    font-size: 20px;
    color: red;
    margin: 20px 0;
}

#card button{
    background-color: powderblue;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
}